# Directories
/.wordpress-org export-ignore
/.github export-ignore

# Currently only used for linting.
/vendor export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpcs.xml export-ignore
/.composer.json export-ignore
/.composer.lock export-ignore
